<div class="row title">
    <h3>Escoge la finca donde quieres comprar <strong id="fruta">Manzanas</strong></h3>
</div>
<div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="titleTable">Id</th>
            <th scope="col" class="titleTable">Produto</th>
            <th scope="col" class="titleTable">Precio x Libra</th>
            <th scope="col" class="titleTable">Cosecha</th>
            <th scope="col" class="titleTable">Categoria</th>
            <th scope="col" class="titleTable">Fase</th>
            <th scope="col" class="titleTable">Comprar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" name="id">1</th>
            <td name="producto">Mark</td>
            <td name="PrecioxLibra">Otto</td>
            <td name="Cosecha">@mdo</td>
            <td name="Categoria">Otto</td>
            <td name="Fase">@mdo</td>
            <td name="Comprar"><button (click)="irFinca()">Comprar</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
        </tbody>
      </table>
</div>