#body{
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url('../../assets/imagenes/fondo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#contenido{
    margin: 20% 0 0 5%;
    color: white;
    
}
#contenido p{
    text-align: justify;
    font-style: normal;
    font-family: 'Raleway';
    font-weight: 400;
}
#btnRegister{
    border: 0;
    padding: 2% 10%;
    border-radius: 35px;
    background-color: white;
    color: rgb(168, 128, 47);
    font-size: 18px;
}
#btnRegister:active{
    background-color: rgb(168, 128, 47);
    color: white;
}