body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
  }
  
  .signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }
  
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #A8802F;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
  }
  input[type="button"]:hover{
    color: #E5E7E9;
    background: crimson;
    border: 1px solid #283747;
  }
  
.btnCrud{
  margin-right: 1%;
  border: 0;
  background-color: rgb(6, 64, 43);
  color: white;
  border-radius: 50%;
}
.btnCrud:hover{
  background-color: rgb(168, 128, 62);
}
.btnCrud:active{
  background-color: rgb(246, 140, 54);
}
#btnCrear{
  background-color: rgb(6, 64, 43);
  border-radius: 35px;
  border: 0;
}
#btnCrear:hover{
  background-color: rgb(168, 128, 62);
}
#btnCrear:active{
  background-color: rgb(246, 140, 54);
}