nav{
    display: flex;
    height: 80px;
    box-shadow: 0px 0px 20px gray;
    align-items: center;
}
#logo{
    width: 100px;
}
#containerLogo img{
    margin-left: 15%;
}
#navId{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border: 0;
}
.text-nav{
    color: rgb(6, 64, 43);
}
.text-nav:hover{
    color: rgb(219,168,62);
}
.text-nav:active{
    color: rgb(219,168,62);
}
#navId li{
    font-size: 18px;
    border: 0;
}
#containerBtn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 0;

}
#btnLogIn{
    width: 200px;
    border: 0;
    border-radius: 5px;
    color: rgb(6, 64, 43);
}

#containerbtnLogOut{
    margin:0
}
#btnLogOut{
    border: 0;
    border-radius: 5px;
    color: rgb(6, 64, 43);
    font-size: 24px;
}
#btnLogIn:active{
    color: rgb(219,168,62);
}
#btnLogOut:active{
    color: rgb(219,168,62);
}

#btnIcon{
    fill:rgb(6, 64, 43);
    font-size: 24px;
    margin-left: 2%;
}

@media (min-width: 1009px) and (max-width: 1052px) {
    #navId li{
        font-size: 16px;
        border: 0;
    }
}
@media (min-width: 966px) and (max-width: 1008px) {
    #navId li{
        font-size: 14px;
        border: 0;
    }
}
@media (min-width: 100px) and (max-width: 965px) {
    #navId li{
        font-size: 12px;
        border: 0;
    }
}