.contendorExito{
    display: flex;
    flex-direction: column;
}
.icon{
    color: rgb(6, 64, 43);
    font-size: 64pt;
    text-align: center;
}
.titulo{
    font-family: 'Raleway';
    font-weight: 700;
    color: rgb(6, 64, 43);
    font-size: 64pt;
    text-align: center; 
}
.parrafo{
    font-family: 'Raleway';
    text-align: center;
    margin-left: 10%;
    width: 80%;
}
.btnSiguiente{
    margin-left: 40%;
    width: 20%;
    height: 40px;
    border: 0;
    border-radius: 35px;
    background-color: rgb(6, 64, 43);
    color: white;
}
.btnSiguiente:active{
    background-color: rgb(168, 128, 47);
}