<div class="titulo">
    <div class="col-md-1 col-lg-1" >
        <h2 class="tituloCarrucel">Frutas</h2>
    </div>
    <div class="col-md-3">
        <button mat-button class="btnVerMas" (click)="irCategoriaFrutas()">Ver mas >>></button>
    </div>
</div>
<div class="carrucel">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/manzana.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Manzanas</h5>
          <p class="card-text">Consigue las mejores Manzanas en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/lulo.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Lulo</h5>
          <p class="card-text">Consigue las mejores Lulo en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/pera.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Pera</h5>
          <p class="card-text">Consigue las mejores Pera en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/papaya.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Papaya</h5>
          <p class="card-text">Consigue las mejores Papaya en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/maracuya.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Maracuya</h5>
          <p class="card-text">Consigue las mejores Maracuya en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/fresas.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Fresas</h5>
          <p class="card-text">Consigue las mejores Fresas en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
</div>