nav{
    position: fixed;
    display: flex;
    height: 80px;
    width: 102%;
    box-shadow: 0px 0px 20px gray;
    align-items: center;
    background-color: white;
}
#logo{
    width: 100px;
}
#containerLogo img{
    margin-left: 15%;
}
#containerBtn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}
#btnLogIn{
    margin-right: 15%;
    width: 150px;
    border: 0;
    border-radius: 5px;
    color: rgb(6, 64, 43);
}

#btnLogIn:active{
    color: rgb(219,168,62);
}

#btnIcon{
    fill:rgb(6, 64, 43);
    font-size: 24px;
    margin-left: 2%;
}