<app-nav-cliente></app-nav-cliente>
<mat-tab-group class="contendor">
    <mat-tab label="Balance Productos">
        <div class="row">
            <div class="row">
                <h1 class="titulo">Balance por productos comprados</h1>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Balance Mensual">
        <div class="row">
            <div class="row">
                <h1 class="titulo">Balance de compras por mes</h1>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Historial de Facturas">
        <div class="row">
            <div class="row">
                <h1 class="titulo">Historial de Facturas</h1>
            </div>
        </div>
    </mat-tab>
  </mat-tab-group>