<div class="container">
    <div class="row" id="title">
        <h1>Iniciar Sesión</h1>
    </div>
    <div class="row" id="formContainer">
        <form action="">
            <div class="row linea">
                <h1>Nombre de usuario</h1>
                <input type="text" class="inputClass1" id="username" value="">
            </div>
            <div class="row linea">
                <h1>Contraseña</h1>
                <input type="password" class="inputClass1" id="password" value="">
            </div>
            <div class="row linea" id="containerBtnForm">
                <button id="btnform" (click)="logIn()">Iniciar Sesión</button>
            </div>
        </form>
    </div> 
</div>