<div class="row">
    <div class="row title">
        <h3>Busca fincas cerca</h3>
    </div>
    <div class="row maps">
        
    </div>
    <form class="row form" action="">
        <div class="row datos">
            <div class="col-6">
                <label class="labelForm">Departamento</label>
                <input type="text" placeholder="Departamento" class="inputForm">
            </div>
            <div class="col-6">
                <label class="labelForm">Municipio</label>
                <input type="text" placeholder="Municipio" class="inputForm">
            </div>
        </div>
        <div class="row ">
            <button class="btnForm">Buscar</button>
        </div>
    </form>
    
</div>