<app-nav-cliente></app-nav-cliente>
<div class="titulo">
    <div class="col-md-3 col-lg-4" >
        <h2 class="tituloCarrucel">Compra Frutas</h2>
    </div>
</div>
<div class="carrucel">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/manzana.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Manzanas</h5>
          <p class="card-text">Consigue las mejores Manzanas en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/lulo.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Lulo</h5>
          <p class="card-text">Consigue las mejores Lulo en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/pera.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Pera</h5>
          <p class="card-text">Consigue las mejores Pera en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/papaya.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Papaya</h5>
          <p class="card-text">Consigue las mejores Papaya en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/maracuya.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Maracuya</h5>
          <p class="card-text">Consigue las mejores Maracuya en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/fresas.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Fresas</h5>
          <p class="card-text">Consigue las mejores Fresas en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/banano.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Banano</h5>
          <p class="card-text">Consigue las mejores Banano en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/mora.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Mora</h5>
          <p class="card-text">Consigue las mejores Mora en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/melon.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Melón</h5>
          <p class="card-text">Consigue las mejores Melón en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/tama.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Tamarindo</h5>
          <p class="card-text">Consigue las mejores Tamarindo en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/mango.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Mango</h5>
          <p class="card-text">Consigue las mejores Mango en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/guayaba.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Guayaba</h5>
          <p class="card-text">Consigue las mejores Guayaba en nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFincaManzana()">Escoge la finca>>></button>
        </div>
      </div>
</div>