<div class="titulo">
    <div class="col-md-2 col-lg-1" >
        <h2 class="tituloCarrucel">Categorias</h2>
    </div>
</div>
<div class="carrucel">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/frutas.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Frutas</h5>
          <p class="card-text">Aquí puedes comprar las mejores frutas del mercado, y las compras a las fincas directamente.</p>
          <button href="" mat-button class="btnVerMas1" (click)="irFrutas()">Ver más >>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/Verduras.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Verduras</h5>
          <p class="card-text">Llevate las mejores verduras de nuestras dincas productoras.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFrutas()">Ver más >>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/carnes.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Carnes</h5>
          <p class="card-text">Compra las mejores Carnes de Res, Cerdo, Pollo o Pescado de nuestras fincas productoras.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFrutas()">Ver más >>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/tuberculos.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Tuberculos</h5>
          <p class="card-text">Escoge los tubérculos más frescos y del tamaño que más te gusten de nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFrutas()">Ver más >>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/lacteos.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Lacteos</h5>
          <p class="card-text">disfruta de el producto lácteo colombiano. Procesados artesanlaes de nuestras fincas.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFrutas()">Ver más >>></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagenes/categorias/animales-vivos.jpg" class="card-img-top card-img-categoria">
        <div class="card-body">
          <h5 class="card-title">Animales Vivos</h5>
          <p class="card-text">Compra los animales vivos. Nuestras fincas te aseguran un trato digno y especial.</p>
          <button href="#" mat-button class="btnVerMas1" (click)="irFrutas()">Ver más >>></button>
        </div>
      </div>
</div>